body {
	background-size: cover;
	font-family: 'Ubuntu';
	font-size: 20px;
	background-image: url("carrots-food-fresh-616404.jpg");
}

input {

	font-size: 18px;
	padding: 0 20px;
}

.container{
	margin-top: 55px;
	display: inline-block;
	justify-content: center;
}


.card{
	margin: 10px 10px;
}

.row {
	display: inline-block;
}

nav {
	color: black;
}

img {
	max-height: 150px;
}

footer {
	position: bottom;
}

.nav justify-content-center bg-dark {
	background-color: white;
	border-radius: 5px;
}