body {
	background-size: cover;
	font-family: 'Ubuntu';
	font-size: 20px;
	background-image: url("carrots-food-fresh-616404.jpg");
}

input {

	font-size: 18px;
	padding: 0 20px;
}

.container{
	margin: auto;
}

.card{
	margin: 10px 10px;
}

.row {
	display: inline-block;
}

nav {
	width: 100%;
}

img {
	max-height: 150px;
}

footer {
	position: bottom;
}

d-flex justify-content-center {
	background-color: white;
	border-radius: 5px;
}

